/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Raleway:wght@500&display=swap');

/* Variables */
:root {
    /* Colores */
    --titulo1: ;
    --color1: hsl(36, 54%, 64%);
    --color2: hsl(34, 91%, 48%);
    --color3: hsl(59, 58%, 66%);

    /* Fonts */
    --font-titulo: 'Raleway', sans-serif;
    --font-body: 'Golos Text', sans-serif;
    --title-size1: 2em;
    --title-size2: 1.5em;
    --body-size1: ;

}


/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-body);
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 90px);
}
h1, h2, h3{
    font-family: var(--font-titulo);
}

p, a{
    font-family: var(--font-body);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}



/* Animaciones */

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translatex(-100%);
    transition: all 1.2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translatex(0);
}

/* Navbar */
.navbar{
    width: 100%;
    height: 80px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav_logo{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_logo img{
    width: 70px;
}

.nav_logo p{
    padding-left: 2%;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    width: 190px;
}

.nav_logo a{
    color: black    ;
    font-size: 14px;
}


.nav_menu{
    display: flex;
    width: 80%;
    justify-content: end;
    padding-right: 30px;
}

.nav_menu li{
    padding-right: 10px;
}

.nav_menu li a{
    color: black;
    display: block;
    padding: 10px 8px 10px 8px;
    border-radius: 5px;
    transition: all 0.4s;
}

.nav_menu li a:hover {
    background-color: var(--color1);
}

.btn_menu {
    justify-content: end;
    margin-right: 5%;
    color: black;
    display: none;
}

ul.show {
    top: 65px;
}

/* Seccion Inicio */

.hero{
    /* background-image: linear-gradient(120deg, rgba(93, 152, 192, 0.678) 0%, rgba(123, 206, 226, 0.671) 100%), url(../assets/hero-mapa.jpg); */
    background-image: url(../assets/consultora1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    position: static;
    overflow: hidden;
    box-shadow: inset 0 0 400px 0 #000;
}

.svg-hero-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
 
/* Seccion Introduccion */
#introduccion {
    background: var(--color1);
    padding-bottom: 300px;
}

.intro-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: var(--title-size1);
    font-weight: bold;
    color: whitesmoke;
}

/* Seccion Informacion General */

#general{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 200px;
}

.general-hero{
    padding-top: 30px;
    text-align: center;
    height: 200px;
    width: 80%;
    font-size: var(--title-size2);
    font-weight: bold;
    color: black;
}

.bloque{
    width: 100%;
    background-color: var(--color1);
    height: 10px;
}

.caja-general{
    margin-top: 80px;
    background-color: lightskyblue;
    width: 80%;
    height: 600px;
    /* box-shadow: 20px black; */
}

.info-general{
    height: 100%;
    width: 55%;
    background-color: white;
}

.contenedor-cards-general{
    margin-top: 80px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards-general{
    height: 400px;
    width: 33%;
    background-color: lightskyblue;
}

/* Seccion Informacion de Contacto*/

#info{
    /* background-image: linear-gradient(120deg, rgba(93, 152, 192, 0.678) 0%, rgba(123, 206, 226, 0.671) 100%), url(../assets/hero-mapa.jpg); */
    background-image: url(../assets/consultora2.jpg) ;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    width: 100%;
    height: 400px;
    background-position: center;
    /* -webkit-box-shadow: inset 0 0 10px 10px #000;     */
    /* -moz-box-shadow: inset 0 0 10px 10px #000; */
    box-shadow: inset 0 0 50px 0 #000;
    overflow: hidden;
}

/* Seccion Opiniones */

.opiniones{
    padding-block: 20px;
    height: auto;
    width: 100%;
    background-color: white;
}

.opiniones h1{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 30px;
    width: auto;
    display: none;
}

.opiniones-contenedor{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-block: 20px;
}

.opniones-box{
    width: 100%;
    margin-inline: 20px;
    padding-block: 40px;
    border-image: linear-gradient(var(--color1), #c4a80c) 30;
    border-width: 4px;
    border-radius: 10px;
    border-style: solid; 
    text-align: center;
    box-shadow: 10px 7px 7px rgba(0, 0, 0, 0.4);
    transition: .3s ease;
}

.opniones-box:hover{
    transform: translateY(-3%);
}

.grande{
    padding-block: 60px;
}

.opniones-box h3{
    color: var(--color1);
}

/* Seccion Contacto */

.contacto{
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: var(--color3);
}

.contacto-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contacto h2{
    font-size: 2.8em;
    border-bottom: 1px solid;
}

.contacto h2::before{
    content: "03. Contactanos";
    color: var(--color2);
    font-size: .3em;
    display: block;
    /* text-align: right; */
}

.contacto-texto h3{
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 100;
}

.contacto-texto ul{
    margin-top: 10px;
}

.contacto-texto li{
    text-align: right;
    color: var(--color1);
}

.contacto-box a{
    /* color: var(--color1); */
    color: black;
    font-size: 1.2em; 
  }

.contacto-box{
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    gap: 20px
}

form{
    width: 500px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 30px;
}
.field {
    margin-bottom: 10px;
  }

.field label {
    display: block;
    font-size: 1em;
    font-family: var(--font-body);
    margin-bottom: 5px;
    color: black;
}

.field input {
    display: block;
    width: 500px;
    line-height: 1.5;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    height: 30px;
    text-align: top;
    align-items: start;
    padding-left: 5px;
}

.field textarea{
    max-width: 500px;
    min-width: 500px;
    padding-left: 5px;
    border: 0;
    border-radius: 5px;
}

#telefono, #email{
    width: 235px;
}

/* Seccion Footer */

footer{
    height: auto;
    background-color: black;
    color: grey;
    padding-top: 25px;
    padding-bottom: 15px;
}

footer a{
    color: grey;
}

.contenedor-footer{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 90%;
    gap: 10%;
    margin-left: 5px;
}

.contenedor-footer div{
    padding: 10px;
}

.contenedor-footer p{
 padding-bottom: 5px;
 font-size: 1.1em;
}

.contenedor-footer a{
border-left: 1px solid;
padding-left: 9px;
}

.link2{
    text-align: center;
    margin-top: 10px;
}
.link2 a{
    color: white;
    text-decoration: underline;
}
/* Celular */

    /* Navbar */
    @media screen and (max-width: 952px) {
        .nav_logo{
            width: 80%;
            font-size: 90%;
        }
        .nav_menu li a{
            font-size: 16px;
        }
    }
    
    @media screen and (max-width: 858px) {
        .navbar{
            height: 65px;
        }
        .btn_menu{
            display: inline-flex;
        }
    
        .nav_menu{
            position: fixed;
            width: 100vw;
            height: 70vh;
            background: hsla(0, 0%, 100%, 0.801);
            top: -100vh;
            text-align: center;
            justify-content: flex-start;
            align-items: center;
            transition: all .4s;
            flex-direction: column;
            padding-right: 0;
        }
    
        .nav_menu li{
        margin: 30px 0 0 0;
        line-height: 30px;
        }
        
        .nav_menu li a:hover {
           background-color: transparent;
        }

        .nav_logo img{
            width: 50px;
        }
        
        .nav_logo p{
            width: 50%;
            font-size: 1em;
        }

        .nav_logo a{
            font-size: 10px;
            text-align: left;
        }

    }

    /* Seccion 1 Inicio*/
    @media screen and (max-width:800px) {
    
    .hero{
    height: 1100px;
    width: 100vw;
    overflow:hidden
    }

    .hero, .texto-hero, .svg-hero-bottom{
    z-index: 3;
    }

    .hero h1{
         font-size: 22px;
         text-align: center;
         margin-left: 0;
         margin-bottom: 0;
        }

    .texto-hero{
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-left: 0;
    margin-bottom: 200px;
    }

    .hero-letras{
       width: 100%;
       text-align: left;
       padding-inline: 5%;
    }

    .texto-hero h2{
        font-size: 16px;
        margin-bottom: 0px;
        padding-bottom: 0;
    }

    .texto-hero p{
        font-size: 0.8em;
        font-weight: 300;
        /* margin: 0; */
        width: 100%;
    }

    .hero-foto{
        height: 380px;
    }

    .hero-foto img{
        height: 400px;
    }
    }
    /* Seccion 2 Tours */

    @media screen and (max-width: 858px){
    #tours1{
        justify-content: flex-start;
        text-align: center;
     }

    .tour-titulo h2{
        font-size: 30px;
        }

    .tour {
        flex-direction: column-reverse;
        height: auto;
        text-align: center;
        justify-content: flex-end;
        padding-right: 0;
        padding-left: 0;
        text-align-last: left;
        padding-bottom: 0;
     }

    .contenedor-textos-tour{
         height: auto;
         width: 90%;
         padding-block: 20px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
    }

    .tour h2{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 5px;
        text-align: center;
    }

    .tour h3, .tour p {
        font-size: 0.8em;
        text-align: justify;
        padding: 0;
        padding-left: 7px;
        /* padding-block: 5px; */
    }

    .tour p{
        padding-bottom: 5px;
    }

    .tour p::before{
        display: none;
    }

    .derecha{
        flex-direction: column;
    }

    .derecha p{
        border-right: 0; 
        padding-right: 0;
        border-left: 2px solid; 
        padding-left: 7px; 
    }

    .tour img{
        height: 200px;
        width: 85vw;
        padding: none;
    }

    .tours1 a{
        margin-top: 20px;
        font-size: 0.8em;
    }

    .imagen-boton{
        width: 50px;
        translate: -100px 28px;
    }

    @keyframes movimiento {
        0%  {transform: translateX(0) scaleX(-1);}
        30%  {transform: translateX(200px) scaleX(-1);}
        50% {transform: translateX(200px)}
        90%  {transform: translateX(0);}
        100% {transform: scaleX (1);}
    }

    .tour br, .texto-inicio br{
        display: block !important; 
        content: "" !important;
        margin-top: 15px !important; 
    }
    }
    /* Seccion 3 Informacion de Contacto*/

    @media screen and (max-width: 858px){
       #info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: auto;
        padding-bottom: 20px;
       }

       .contenedor-textos-info{
        padding-top: 0;
        width: 90%;
        text-align: center;
        font-size: .6em;
        display: flex;
        flex-direction: column;
        align-items: center;
       }

       .contenedor-textos-info h1{
        width: 95%;
       }
       
       .contedor-cards{
        flex-direction: column;
        height: auto;
        width: 90%;
       }

       .cards{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        font-size: 11px;
        text-align: center;
       }

       .cards img{
        height: 300px;
       }

       .cards:hover{
        transform: none;
        }

        .contenedor-textos-cards{
            gap: 0;
        }
    }

    /* Seccion 4 Opiniones */
    @media screen and (max-width: 858px){
        .opiniones-contenedor{
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            justify-content: space-between;
        }
        .opiniones-box{
            height: auto;
            width: 100%;
            margin: 0;
        }

        .grande{
            padding-block: 40px;
        }
    }

    /* Seccion 5 Contacto */

    @media screen and (max-width: 858px){
        .contacto{
            padding: 0;
        }

        .contacto-box{
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 20px;
        }
        
        form{
            width: 90%;
        }

        .field input{
            width: 90vw;
        }

        #telefono, #email{
            width: 90vw;
        }

        .field textarea{
            max-width: 90vw;
            min-width: 90vw;
            padding-left: 5px;
        }

        .contacto-texto{
            width: 90%; 
            height: auto;
            align-items: flex-start;
            text-align: left;
            margin-left: 0; 
        }

        

        .contacto h2{
            font-size: 1.3em;
            align-self: center;
            text-align: justify;
            padding-inline: 20px;
        }

        .contacto h2::before{
        text-align: center;
        }

        .contacto-texto h3{
            font-size: .8em;
            text-align: left;
        }

        .contacto-texto li{
            /* color: var(--color1); */
            margin-left: 0;
            text-align: left;
            color: black;
          }

        .contacto-box a{
            /* color: var(--color1); */
            color: black;
            font-size: .8em; 
    }}

    /* Seccion 6 Footer */

    @media screen and (max-width: 858px){
        footer{
        height: auto;
        width: 100%;
        justify-content: start;
        gap: 10px;
        padding-block: 12px;
        padding-bottom: 20px;
        text-align: left;
        font-size: .6em;
        }

        .footer-texto{
        width: 100%;
        }

        .contenedor-footer{
        flex-wrap: wrap;
        width: 90%;
        justify-content: left;
        align-items: left ;
        }

        .contenedor-footer div{
        padding: 0;
        border-left: none;
        padding-top: 5px;
        justify-content: left;
        }

        .link2{
            margin-left: 5px;
            width: 90%;
            text-align: left;
        }
    }