/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Raleway:wght@500&display=swap');

/* Variables */
:root {
    /* Colores */
    --titulo1: ;
    --color1: #002554;
    --color2: #2e4c72;
    --color3: #405b7e;
    --color4: #abb7c6;
    

    /* Fonts */
    --font-titulo: 'Raleway', sans-serif;
    --font-body: 'Golos Text', sans-serif;
    --title-size1: 2em;
    --title-size2: 1.5em;
    --body-size1: ;

}


/* Base */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-body);
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 90px);
}
h1, h2, h3{
    font-family: var(--font-titulo);
}

h1{
    color: white;
    font-size: 2em;
}

h2{
    color: var(--color1);
    font-size: 2em;
}

p, a{
    font-family: var(--font-body);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}



/* Animaciones */

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translatex(-100%);
    transition: all 1.2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translatex(0);
}

/* Navbar */
.navbar{
    width: 100%;
    height: 80px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav_logo{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_logo img{
    width: 70px;
}

.nav_logo p{
    padding-left: 2%;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    width: 190px;
}

.nav_logo a{
    color: black    ;
    font-size: 14px;
}


.nav_menu{
    display: flex;
    width: 80%;
    justify-content: end;
    padding-right: 30px;
}

.nav_menu li{
    padding-right: 10px;
}

.nav_menu li a{
    color: black;
    display: block;
    padding: 10px 8px 10px 8px;
    /* border-radius: 5px; */
    border-bottom: transparent 2px solid;
    transition: all 0.4s;
}

.nav_menu li a:hover {
    border-bottom: var(--color2) 2px solid;
}

.btn_menu {
    justify-content: end;
    margin-right: 5%;
    color: black;
    display: none;
}

ul.show {
    top: 65px;
}

/* Seccion Inicio */

.hero{
    /* background-image: linear-gradient(120deg, rgba(93, 152, 192, 0.678) 0%, rgba(123, 206, 226, 0.671) 100%), url(../assets/hero-mapa.jpg); */
    background-image: url(../assets/fondo_logo.png);
    width: 100%;
    height: 120vh;
    background-position: center;
    /* background-attachment: fixed; */
    position: static;
    overflow: hidden;
    /* box-shadow: inset 0 0 400px 0 #000; */
}

.svg-hero-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
 
/* Seccion Introduccion */
#introduccion {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-size: cover;
    background-image: url(../assets/calafate.jpeg);
}

#intro-hero{
    background-color: rgba(45, 42, 88, 0.5);
    background-blend-mode: multiply;
    width: 100vw;
    height: 100vh;
    /* text-align: end; */
    position: relative;
}

#intro-hero h1{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10%;
    margin-right: 10%;
}

/* 
.intro-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: var(--title-size1);
    font-weight: bold;
    color: whitesmoke;
} */

/* Seccion Informacion General */

#general{
    background-color: var(--color3);
    padding: 5%;
}

.general-info{
    display: flex;
    flex-direction: row;
    padding-block: 2%;
}

.general-info p{
    color: white;
    text-align: left;
}

.general-info h3{
    color: var(--color2);
    /* padding-left: 30px; */
}

/* Seccion Iconos */

#iconos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}

.recuadros{
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid var(--color2);
    padding-inline: 2%;
    border-radius: 10px;
    text-align: center;
    color: var(--color1);
    font-size: 0.7em;
    font-weight: 50;
}

.recuadros img{
    width: 50%;
}
/* Seccion Valores */

#valores{
    height: 80vh;
    background: var(--color4);
    padding: 5%;
}


/* Seccion Informacion*/
#info{ 
    margin-block: 30px;
}

.info-hero{
    margin: 5%;
}

.info-hero p{
    color: #012a65;
    padding-top: 20px;
    font-size: 1.5em;
}

.boxes{
    display: flex;
    width: 100%;
    color: white;
}
.outer-box{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info-boxes{
    border-radius: 10px;
    width: 50%;
    /* min-width: 50%; */
    max-width: 100%;
    /* height: 400px; */
    padding: 3%;
    transition: .5s all ease;
}

.info-boxes:hover{
    background: var(--color1);
}

.info-boxes p{
    padding-block: 10px;
    font-weight: 100;
}

.box-1{background: #5a7190;}
.box-2{background: #1d3d67;}
.box-3{background: #002554;}
.box-4{background: #7387a1;}
.box-5{background: #0d305c;}
.box-6{background: #abb7c6;}
/* Seccion Personal */

#personal{
    /* height: auto; */
    width: 100%;
    padding-inline: 5%;
    margin-block: 20px;
}

.personal-box{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: space-evenly;
}

.foto-carlos{
    background: black;
    width: 30%;
    height: 400px;
}

.personal-info{
    max-width: 60vw;
    height: 400px;
    text-align: left;
}

.personal-info h2{
    margin-bottom: 20px;
}

.personal-info p{
    /* text-align: left; */
    font-size: 20px;
    color: var(--color2);
    padding-bottom: 20px;
}


/* Seccion Footer */
footer{
    height: auto;
    background-color: black;
    color: grey;
    padding-top: 25px;
    padding-bottom: 15px;
}

footer a{
    color: grey;
}

.contenedor-footer{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    width: 90%;
    gap: 10%;
    margin-left: 5px;
}

.contenedor-footer div{
    padding: 10px;
}

.contenedor-footer p{
 padding-bottom: 5px;
 font-size: 1.1em;
}

.contenedor-footer a{
border-left: 1px solid;
padding-left: 9px;
}

.link2{
    text-align: center;
    margin-top: 10px;
}
.link2 a{
    color: white;
    text-decoration: underline;
}


/* Celular */

    /* Navbar */
    @media screen and (max-width: 952px) {
        .nav_logo{
            width: 80%;
            font-size: 90%;
        }
        .nav_menu li a{
            font-size: 16px;
        }
    }
    
    @media screen and (max-width: 858px) {
        .navbar{
            height: 65px;
        }
        .btn_menu{
            display: inline-flex;
        }
    
        .nav_menu{
            position: fixed;
            width: 100vw;
            height: 70vh;
            background: hsla(0, 0%, 100%, 0.801);
            top: -100vh;
            text-align: center;
            justify-content: flex-start;
            align-items: center;
            transition: all .4s;
            flex-direction: column;
            padding-right: 0;
        }
    
        .nav_menu li{
        margin: 30px 0 0 0;
        line-height: 30px;
        }
        
        .nav_menu li a:hover {
           background-color: transparent;
        }

        .nav_logo img{
            width: 50px;
        }
        
        .nav_logo p{
            width: 50%;
            font-size: 1em;
        }

        .nav_logo a{
            font-size: 10px;
            text-align: left;
        }

    }

    /* Seccion 1 Inicio*/
    @media screen and (max-width:800px) {
    
    .hero{
    height: 1100px;
    width: 100vw;
    overflow:hidden
    }

    .hero, .texto-hero, .svg-hero-bottom{
    z-index: 3;
    }

    .hero h1{
         font-size: 22px;
         text-align: center;
         margin-left: 0;
         margin-bottom: 0;
        }

    .texto-hero{
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-left: 0;
    margin-bottom: 200px;
    }

    .hero-letras{
       width: 100%;
       text-align: left;
       padding-inline: 5%;
    }

    .texto-hero h2{
        font-size: 16px;
        margin-bottom: 0px;
        padding-bottom: 0;
    }

    .texto-hero p{
        font-size: 0.8em;
        font-weight: 300;
        /* margin: 0; */
        width: 100%;
    }

    .hero-foto{
        height: 380px;
    }

    .hero-foto img{
        height: 400px;
    }
    }
    /* Seccion 2 Tours */

    @media screen and (max-width: 858px){
    #tours1{
        justify-content: flex-start;
        text-align: center;
     }

    .tour-titulo h2{
        font-size: 30px;
        }

    .tour {
        flex-direction: column-reverse;
        height: auto;
        text-align: center;
        justify-content: flex-end;
        padding-right: 0;
        padding-left: 0;
        text-align-last: left;
        padding-bottom: 0;
     }

    .contenedor-textos-tour{
         height: auto;
         width: 90%;
         padding-block: 20px;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
    }

    .tour h2{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 5px;
        text-align: center;
    }

    .tour h3, .tour p {
        font-size: 0.8em;
        text-align: justify;
        padding: 0;
        padding-left: 7px;
        /* padding-block: 5px; */
    }

    .tour p{
        padding-bottom: 5px;
    }

    .tour p::before{
        display: none;
    }

    .derecha{
        flex-direction: column;
    }

    .derecha p{
        border-right: 0; 
        padding-right: 0;
        border-left: 2px solid; 
        padding-left: 7px; 
    }

    .tour img{
        height: 200px;
        width: 85vw;
        padding: none;
    }

    .tours1 a{
        margin-top: 20px;
        font-size: 0.8em;
    }

    .imagen-boton{
        width: 50px;
        translate: -100px 28px;
    }

    @keyframes movimiento {
        0%  {transform: translateX(0) scaleX(-1);}
        30%  {transform: translateX(200px) scaleX(-1);}
        50% {transform: translateX(200px)}
        90%  {transform: translateX(0);}
        100% {transform: scaleX (1);}
    }

    .tour br, .texto-inicio br{
        display: block !important; 
        content: "" !important;
        margin-top: 15px !important; 
    }
    }
    /* Seccion 3 Informacion de Contacto*/

    @media screen and (max-width: 858px){
       #info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        height: auto;
        padding-bottom: 20px;
       }

       .contenedor-textos-info{
        padding-top: 0;
        width: 90%;
        text-align: center;
        font-size: .6em;
        display: flex;
        flex-direction: column;
        align-items: center;
       }

       .contenedor-textos-info h1{
        width: 95%;
       }
       
       .contedor-cards{
        flex-direction: column;
        height: auto;
        width: 90%;
       }

       .cards{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        font-size: 11px;
        text-align: center;
       }

       .cards img{
        height: 300px;
       }

       .cards:hover{
        transform: none;
        }

        .contenedor-textos-cards{
            gap: 0;
        }
    }

    /* Seccion 4 Opiniones */
    @media screen and (max-width: 858px){
        .opiniones-contenedor{
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            justify-content: space-between;
        }
        .opiniones-box{
            height: auto;
            width: 100%;
            margin: 0;
        }

        .grande{
            padding-block: 40px;
        }
    }

    /* Seccion 5 Contacto */

    @media screen and (max-width: 858px){
        .contacto{
            padding: 0;
        }

        .contacto-box{
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 20px;
        }
        
        form{
            width: 90%;
        }

        .field input{
            width: 90vw;
        }

        #telefono, #email{
            width: 90vw;
        }

        .field textarea{
            max-width: 90vw;
            min-width: 90vw;
            padding-left: 5px;
        }

        .contacto-texto{
            width: 90%; 
            height: auto;
            align-items: flex-start;
            text-align: left;
            margin-left: 0; 
        }

        

        .contacto h2{
            font-size: 1.3em;
            align-self: center;
            text-align: justify;
            padding-inline: 20px;
        }

        .contacto h2::before{
        text-align: center;
        }

        .contacto-texto h3{
            font-size: .8em;
            text-align: left;
        }

        .contacto-texto li{
            /* color: var(--color1); */
            margin-left: 0;
            text-align: left;
            color: black;
          }

        .contacto-box a{
            /* color: var(--color1); */
            color: black;
            font-size: .8em; 
    }}

    /* Seccion 6 Footer */

    @media screen and (max-width: 858px){
        footer{
        height: auto;
        width: 100%;
        justify-content: start;
        gap: 10px;
        padding-block: 12px;
        padding-bottom: 20px;
        text-align: left;
        font-size: .6em;
        }

        .footer-texto{
        width: 100%;
        }

        .contenedor-footer{
        flex-wrap: wrap;
        width: 90%;
        justify-content: left;
        align-items: left ;
        }

        .contenedor-footer div{
        padding: 0;
        border-left: none;
        padding-top: 5px;
        justify-content: left;
        }

        .link2{
            margin-left: 5px;
            width: 90%;
            text-align: left;
        }
    }